.body {
    background: linear-gradient(90deg, rgb(119, 121, 241) 18%, rgba(255,104,125,1) 41%, rgb(83, 242, 96) 65%, rgb(224, 87, 224) 87%);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    }
    
    .abox {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    }
    
    .form {
    height: 320px;
    padding: 3em;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    }
    
    p {
    font-weight: bold;
    color: #000000;
    opacity: 0.7;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }
    
    input {
    background: transparent;
    height: 50px;
    width: 300px;
    font-size: 1.5em;
    color: #000000;
    padding-left: 1em;
    margin-bottom: 2em;
    font-weight: 500;
    border: none;
    border-radius: 50px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.2);
    }   
    
    input[type="email"]:focus ,
    input[type="password"]:focus {
     box-shadow: 2px 2px 40px 5px rgba(0,0,0,0.2);
     outline: none;
    }     
    input::placeholder {
    color: #000000;
    font-weight: 400;
    }
    input[type="submit"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
    }
    
    .drop {
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: absolute;
    }
    .drop-1 {
    height: 80px;
    width: 80px;
    top: -19px;
    left: -35px;
    }
    
    .drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -50px;
    z-index: -1;
    }
    
    .drop-3 {
    height: 100px;
    width: 100px;
    bottom: 130px;
    right: -65px;
    z-index: -1;
    }
    
    .drop-4 {
    height: 120px;
    width: 120px;
    top: -70px;
    right: -70px;
    }
    
    .drop-5 {
    height: 80px;
    width: 80px;
    bottom: 310px;
    left: -240px;
    z-index: -1;
    }
    .drop-6 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    left: -60px;
    }
    .drop-7 {
    height: 150px;
    width: 150px;
    bottom: 50px;
    left: -300px;
    
    }
    .drop-8 {
    height: 130px;
    width: 130px;
    bottom: 150px;
    left: 130%;
    }
    