/* *{
    border: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  /* body{
    height: 90vh;
    font-size: 14px;
    background: #ebebeb;
    font-family: 'Montserrat', sans-serif;
  } */
  .section01{
    align-items: center;
    display: flex;
    min-height: 90vh;
    justify-content: center;
  }
  .cd-grid{
    display: flex;
    grid-column-gap: 40px;
  }
  .cd{
    position: relative;
    width: 300px;
    height: 450px;
    transition: .8s ease-out;
    border-radius: 20px;
    background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  } 
  .cd:hover{
    box-shadow: 2px 30px 30px rgba(0,0,0,0.5);
  }
  .cd-backg{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
  }
  
  .cd-content{
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px;
  }
  
  .cd-heding{
    color: #fff;
    font-size: 1.9rem;
    line-height: 1.4;
    /* width: 80%; */
    font-weight: normal;
  }
  
  .cd-cat{
    position: absolute;
    /* left: 40%; */
    top: 22em;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .cd:hover .cd-backg{
    transform: scale(1.05) translateZ(0);
  }
  .cd-grid:hover > .cd:not(:hover), .cd-content:not(:hover) .cd-backg{
    filter: brightness(0.8) saturate(1  ) contrast(1.2) blur(10px);
  }
  